body {
    font-family: Arial, sans-serif;
    background-color: #E3F2FD;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1A237E; /* Dark Blue */
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #8B4513; /* Chocolate */
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: #1A73E8; /* Light Blue */
}

input, select, button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #E91E63; /* Pink */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
}

button:hover {
    background-color: #C2185B; /* Darker Pink */
}

ul.courses-list {
    list-style-type: none;
    padding: 0;
}

ul.courses-list li {
    margin-bottom: 20px;
}

ul.courses-list li a {
    text-decoration: none;
    color: #1A237E; /* Dark Blue */
}

ul.courses-list li a:hover {
    color: #C2185B; /* Darker Pink */
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #1A237E; /* Dark Blue */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
